<h3>Post a Comment</h3>

<%= form_for [ @article, @comment ] do |f| %>
  <p>

    <%= f.text_field :author_name, :value => current_user.email, class: "no-show-user", :readonly => true%>
  </p>

  <p>
    <%= f.text_area :body, :placeholder => "comment", :required => true%>
  </p>
  <p>
    <%= f.submit 'Submit', class: "btn btn-default"%>
  </p>
<% end %>
