<div class="home-image">
<p id = "home-text">
    Join local sports games in your area
</p>
</div>

<div class = "recent-game">
    <h1> Find the right games for you</h1>
    <div class = "home-sports">
        <a href="/tags/1"><div class="home-sports-image"><img src="http://i.imgur.com/5FahlLk.png" alt="" /></div>
        <h3>basketball</h3>
        <p>check it</p></a>
    </div>
    <div class = "home-sports">
        <a href="/tags/3"><div class="home-sports-image"><img src="http://i.imgur.com/0O8F51w.png" alt="" /></div>
        <h3>football</h3>
        <p>check it</p></a>
    </div>
    <div class = "home-sports">
        <a href="/tags/2"><div class="home-sports-image"><img src="http://i.imgur.com/0PLunz9.png" alt="" /></div>
        <h3>soccer</h3>
        <p>check it</p></a>
    </div>
    <div class = "home-sports">
        <a href="/tags/4"><div class="home-sports-image"><img src="http://i.imgur.com/UD0A5pZ.png" alt="" /></div>
        <h3>baseball</h3>
        <p>check it</p></a>
    </div>
</div>


<a href="/articles"><div class= "check-sports">
become a sports juggernaut at all events
</div></a>
