// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#commeter div {
    border: 1px solid #C1C1C1;
    padding: 0 9px;
}

div#articles-holder {
    margin-top: 20px;
    margin-bottom: 100px;
}

input[type="submit"] {
    background: none !important;
    border: none !important;
    color: black !important;
}
