@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900);

* {
    font-family: 'Titillium Web', sans-serif !important;
}

form input[type=text], form input[type=password], form input[type=email], form input[type=number], form input[type=url], form input[type=tel], form input[type=date], form textarea {
    border-radius: 5px;
    margin: 5px 0;
    padding: 11px;
    font-size: 14px;
    font-weight: 300;
        width: 100%;
}


form input[type=submit], form input[type=button], form button {
    border-radius: 0px;
    display: inline-block;
    font-weight: bold;
    font-size: 1.0em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 12px;
    margin-right: 3px;
    padding: 7px 16px 6px;
    text-decoration: none;
    background-color: orange;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    border: none;
    border-color: none;
    border-top-color: none;
    border-right-color: none;
    border-bottom-color: none;
    color: black;
    cursor: pointer;
}

.navbar-header img {
    -webkit-box-shadow: 3px 2px 1px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 3px 2px 1px 0px rgba(0,0,0,0.35);
    box-shadow: 3px 2px 1px 0px rgba(0,0,0,0.35);
    position: fixed;
    left: -4px;
    width: 49px;
    padding: 10px 35px;
    top: 6px;
    border-top: 2px solid rgba(204, 204, 204, 0.7);
}

.nav.navbar-nav.navbar-left {
    margin-top: 60px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    margin-left: 300px;
    margin-right: 30px;
}

a, a:link, a:visited {
    text-decoration: none;
}

.leftbar {
    float: left;
    border-right: 2px solid #ccc;
    width: 240px;
    position: fixed;
    top: 20px;
    bottom: 20px;
    padding: 20px;
}



.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content p:last-child {
    margin-bottom: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.all_articles {
    min-width: 300px;
    width: 29%;
    height: 150px;
    border: 3px solid orange;
    border-top: 10px solid orange;
    margin: 1%;
    padding: 5px;
    position: relative;
    display: inline-block;
}

.view-holder {
    display: inline-block;
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.view {
    float: left;
    margin-right: 10px;
}


.hideforplayer {
    display: none;
}

.game-date {
    background-color: orange;
    right: 0;
    top: 0;
    position: absolute;
    width: 60px;
    height: 100px;
    text-align: center;
    padding: 5px;
}

p.month {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 20px;
    color: black;
    font-weight: 800;
}

h2.day {
    margin: 0;
    color: black;
    font-size: 35px;
    padding: 0;
    margin-top: -10px;
    letter-spacing: 2px;
    text-align: center;
}

p.time {
    font-size: 13px;
    font-weight: 600;
    color: black;
    margin-top: -5px;
}

h2.art-title {
    color: black;
    text-transform: uppercase;
    margin: 0;
    font-weight: 700;
}

a, a:link, a:visited {
    text-decoration: none;
    color: black;
}

.articles-created p {
    margin: 0px;
    font-style: italic;
}

p.postedby {
    position: absolute;
    right: 8px;
    bottom: 0;
    margin: 0;
}

span.posted {
    margin-left: 12px;
    font-style: italic;
}

p.joined_players {
    position: absolute;
    bottom: 3px;
    left: 8px;
    margin: 0;
}

p.joined_body {
    margin-top: 10px;
}

.general-data {
    margin-left: 5px;
}

a.new_article {
    background-color: orange;
    padding: 8px;
    float: right;
    margin-top: none;
    font-size: 13px;
}

.dropdown.view {
    font-weight: 300;
    border-bottom: 1px solid orange;
}

p.flash {
    position: fixed;
    bottom: 0px;
    left: 10px;
    border: 1px solid;
    padding: 10px;
    width: 200px;
    height: 40px;
}

span.loggerout {
    border-left: 1px solid #ccc;
    margin-left: 10px;
    padding-left: 10px;
}

.articles-created h2 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 17px;
}

.articles-created h2 {
    margin: 0;
    text-transform: uppercase;
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.comments h2 {
    margin: 0;
    text-transform: uppercase;
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.comments p {
    margin: 0px;
}

.dropdown-content a:hover {
    border-bottom: 1px solid orange;
}


.comments-area {
    float: right;
    width: 47%;
}

.article-game-info {
    float: left;
    position: relative;
    width: 47%;
}

#h1-title h1 {
    font-size: 33px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0;
    color: black;
}

.players-list ul li {
    display: inline-block;
}

.article-game-info .game-date {
    left: 0;
}

.game-data {
    margin-left: 90px;
}

.game-data p {
    font-size: 14px;
    margin-bottom: 10px;
}

span.talic {
    font-style: italic;
    font-size: 12px;
    text-transform: lowercase;
}

p.postauthor {
    margin: 0;
    font-size: 12px;
    margin-top: 3px;
}

.comments-area h4 {
    margin: 0;
}

.comments-area p {
    margin: 0;
}

#h1-title {
    border-bottom: 1px solid orange;
    padding-bottom: 3px;
}


p.comment {
    font-size: 14px;
}

p.comment-post {
    font-style: italic;
    font-size: 10px;
}

#comments_form h3 {
    margin-bottom: 0;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 30px;
}

#commeter div {
    margin: 0px 0 10px;
    border-bottom: 1px solid orange;
    margin-right: 20%;
    padding: 10px;
}

.comments-area h3 {
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    border-left: 1px solid orange;
    padding-left: 8px;
}

form input[type=submit]:not(.disabled):hover, form input[type=button]:not(.disabled):hover, form button:not(.disabled):hover {
    background-color: #8b9297;
    background-image: none;
}

.article-field {
    display: block;
}

label {
    font-size: 12px;
    text-transform: uppercase;
    padding-left: 2px;
}

.labler {
    width: 90px;
    margin-right: 18px;
}

.fielder {
    margin-bottom: 10px;
}

form#new_comment {
    width: 78%;
}

.setting-sport.article-field .article-field:last-child {
    margin-right: 0;
}

.setting-sport.article-field .article-field {
    width: 45%;
    float: left;
    margin-right: 10%;
}
.location-players .article-field:last-child {
    margin-right: 0;
}

.location-players .article-field {
    width: 45%;
    float: left;
    margin-right: 10%;
}

.edit_article, #new_article  {
    max-width: 800px;
}

.addresser .article-field {
    width: 28%;
    float: left;
    margin-right: 8%;
}

.addresser .article-field:last-child {
    margin-right: 0;
}

.date-time .article-field{
    width: 28%;
    float: left;
    margin-right: 8%;
}

.date-time .article-field:last-child{
    margin-right: 0;
}

input[type="submit"] {
    margin: 10px 0;
}

a:hover {
    color: orange;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .3s;
}

a.new_article:hover {
    background-color: black;
}

#delete-article, #edit-article, #back-article {
    border: 1px solid orange;
    padding: 8px;
    font-size: 14px;
}
#delete-article{
    margin-left: 30px;
}

a#delete-article:hover, a#edit-article:hover, a#back-article:hover{
    color: orange;
    background-color: black;
}

select#article_sport {
    background: transparent;
    width: 106%;
    padding: 5px 35px 5px 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-top: 5px;
    height: 43px;
    font-size: 14px;
    font-weight: 300;
}


.form-inputs {
    max-width: 800px;
}

.headpart h1, .headpart h2 {
    margin: 25px 0;
    font-size: 29px;
    border-bottom: 1px solid orange;
    max-width: 800px;
    padding-bottom: 9px;
    color: black;
        text-transform: capitalize;
}

form#new_user {
    max-width: 800px;
}

a.linkedin1, a.google_oauth21 {
    display: none;
}

a.github1 {
    background-image: url("https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png");
    height: 30px;
    display: block;
    padding-left: 40px;
    line-height: 30px;
    background-color: #3D5C98;
    max-width: 120px;
    min-width: 100px;
    color: white;
    background-size: 30px;
    background-repeat: no-repeat;
}
a.twitter1 {
    background-image: url("http://i.imgur.com/LnnlQil.png");
    height: 30px;
    display: block;
    padding-left: 40px;
    line-height: 30px;
    background-color: #3D5C98;
    max-width: 120px;
    min-width: 100px;
    color: white;
    background-size: 30px;
background-repeat: no-repeat;
}


a.facebook1 {
    background-image: url("http://i.imgur.com/VMMMyvg.png");
    height: 30px;
    display: block;
    padding-left: 40px;
    line-height: 30px;
    background-color: #3D5C98;
    max-width: 120px;
    min-width: 100px;
    color: white;
    background-size: 30px;
background-repeat: no-repeat;
}

.section-container {
    max-width: 800px;
    position: relative;
    display: block;
}

.profile-started {
    display: block;
    float: left;
    width: 33%;
}

.headpart span {
    margin-left: 26px;
    font-size: 16px;
}

.profile-started h2 {
    text-transform: uppercase;
    margin-bottom: 1px;
}

.profile-started p {
    margin: 0px;
    font-style: italic;
}

p.right-user {
    display: none;
}

.rightsign {
    float: right;
        margin-top: 20px;
        text-align: right
}



@media only screen and (max-width: 1026px)  {
    .article-game-info {
        width: 100%;
    }

    .comments-area {
        margin-top: 40px;
        float: left;
        width: 100%;
    }

    #commeter div {
        margin-right: 0;
    }

    .profile-started {
        width: 100%;
        margin-top: 20px;
    }

}

@media only screen and (max-width: 800px)  {
    .nav.navbar-nav.navbar-left {
        display: none;
    }

    .rightsign {
    float: right;
    margin-top: 10px;
    text-align: right;
    }

    p.right-user {
        display: block;
        margin-right: 10px;
        margin: 0;
        margin-bottom: 10px;
    }

    a.new_article {
        float: none;
    }


    a.new_article {
        padding: 5px;
        margin-top: 0;
        font-size: 10px;
    }

    .container{
        margin: 0;
        padding: 0 20px;
    }

    .leftbar {
        float: left;
        border: none;
        width: 0;
        top: 20px;
        bottom: 0;
        padding: 0;
        z-index: 99;
    }

    .navbar-header img {
        padding: 2px 11px;
    }

    .view-holder {
        font-size: 14px;
        width: 160px;
        margin-bottom: 15px;
        margin-top: 16px;
        margin-left: 70px;
    }


    #delete-article, #edit-article, #back-article {
        border: 1px solid orange;
        padding: 4px;
        font-size: 11px;
    }

    #delete-article {
        margin-left: 0;
    }

    .edit_article, #new_article {
        min-width: 330px;
    }

    .headpart h1, .headpart h2 {
        font-size: 18px;
        margin-left: 70px;
    }

    #new_user {
        max-width: 95%;
    }

    ul#article-control {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .edit_article, #new_article {
        max-width: 95%;
    }
    .gmapper {
    margin-bottom: 20px;
}
}

/*@media only screen and (max-width: 800px)  {
    .view-holder {
    font-size: 14px;
    width: 140px;
    margin-bottom: 15px;
    margin-top: 14px;
}
}*/
